@keyframes change{

        0% {transform:perspective(1000px) rotate3d(1,1,1,45deg);}
        75% {transform:perspective(1000px) rotate3d(1,1,1,405deg);}
        100% {transform:perspective(1000px) rotate3d(0,0,0,0deg);}
}

#divMin{
    position: relative;
    transform-style: preserve-3d;
    animation:change 5s  cubic-bezier(1,0.5,0.3,0.8);
    animation-fill-mode: forwards;
    width:200px;
    height: 100px;
    margin:150px 0 0 200px;



}
#front{
    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    transform: translateZ(-50px);

}
#back{
    width: 100px;
    height: 100px;
    background-color:red;
    position: absolute;
    transform: translateZ(50px);


}
#left{
    width: 100px;
    height: 100px;
    background-color:yellow;
    position: absolute;
    transform: rotateY(90deg) ;
    left:-50px;

}
#right{
    width: 100px;
    height: 100px;
    background-color:greenyellow;
    position: absolute;
    transform: rotateY(270deg) ;
    right:50px;

}
#top{
    width: 100px;
    height: 100px;
    background-color:salmon;
    position: absolute;
    transform: rotateX(90deg) translateZ(50px);

}
#bottom{
    width: 100px;
    height: 100px;
    background-color:darkorange;
    position: absolute;
    transform: rotateX(270deg) translateZ(50px);
}